{% extends 'baseadmin.html.twig' %}

{% block title %}Administration!{% endblock %}

{% block body %}

    <div class="row p-4">
        <div class="col-12">
            <h1>Administration ✅</h1>

        </div>
    </div>
{% endblock %}
