<form method="post" action="{{ path('app_bloccv_delete', {'id': bloccv.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bloccv.id) }}">
    <button class="btn">Delete</button>
</form>
