{% extends 'baseadmin.html.twig' %}

{% block title %}Editer Bloc cv{% endblock %}

{% block body %}
    <h1>Editer Bloc cv</h1>

    {{ include('admin/bloccv/_form.html.twig', {'button_label': 'Valider'}) }}



    {{ include('admin/bloccv/_delete_form.html.twig') }}
{% endblock %}
