{% extends 'base.html.twig' %}

{% block title %}Edit Blocimage{% endblock %}

{% block body %}
    <h1>Edit Blocimage</h1>

    {{ include('blocimage/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_blocimage_index') }}">back to list</a>

    {{ include('blocimage/_delete_form.html.twig') }}
{% endblock %}
