{% extends 'base.html.twig' %}

{% block title %}New Blocimage{% endblock %}

{% block body %}
    <h1>Create new Blocimage</h1>

    {{ include('blocimage/_form.html.twig') }}

    <a href="{{ path('app_blocimage_index') }}">back to list</a>
{% endblock %}
