<form method="post" action="{{ path('app_cv_delete', {'id': cv.id}) }}" onsubmit="return confirm('Être vous sûr de vouloir supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cv.id) }}">
    <div class="d-grid gap-2 pt-2">
        <button class="btn btn-block btn-danger">Effacer</button>
    </div>
</form>
