{% extends 'baseadmin.html.twig' %}

{% block title %}Edit Mes projets{% endblock %}

{% block body %}
    <h1>Edit Mes projets</h1>

    {{ include('admin/mesprojets/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
