{% extends '../../base.html.twig' %}

{% block title %}Edit Mesprojets{% endblock %}

{% block body %}
    <h1>Edit Mesprojets</h1>

    {{ include('mesprojets/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_mesprojets_index') }}">back to list</a>

    {{ include('mesprojets/_delete_form.html.twig') }}
{% endblock %}
