{% extends '../../base.html.twig' %}

{% block title %}New Mesprojets{% endblock %}

{% block body %}
    <h1>Create new Mesprojets</h1>

    {{ include('mesprojets/_form.html.twig') }}

    <a href="{{ path('app_mesprojets_index') }}">back to list</a>
{% endblock %}
